.input .basicinfo {
  
  .colleague,
  .model {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 40%;
  }
  
  .platform {
    text-align: center;
  }
  
  .platform label {
    padding: 0 1em;
  }
}