<div id="input">
  <form id="inputform">


    <!-- Basic Info -->
    <form-section name="basicinfo" title="Basic Info">

      <input type="text" placeholder="Colleague Name" v-model="basicinfo.colleague" class="colleague">
      <input type="text" placeholder="Product SKU" v-model="basicinfo.sku" class="productsku">


      <form-section v-if="basicinfo.colleague && basicinfo.sku" name="customerinfo" title="Customer Information">
        <input type="text" placeholder="Title" v-model="customerinfo.title" class="customerinfo-title">
        <input type="text" placeholder="First Name" v-model="customerinfo.firstname" class="customerinfo-firstname">
        <input type="text" placeholder="Surname" v-model="customerinfo.surname" class="customerinfo-surname">
        <input type="tel" placeholder="Telephone Number" v-model="customerinfo.telephone" class="customerinfo-telephone">
        <input type="tel" placeholder="Alternate Telephone Number" v-model="customerinfo.alttelephone" class="customerinfo-alttelephone">
      </form-section>

    </form-section>



    <!-- Setup Info -->
    <form-section name="setupinfo" title="Setup Information" v-if="customerinfo.title && customerinfo.firstname && customerinfo.surname && customerinfo.telephone">

      <label v-if="!setupinfo.exdemo && !setupinfo.presetup"><input type="checkbox" v-model="setupinfo.onorder">On Order</label>
      <label v-if="!setupinfo.onorder && !setupinfo.presetup"><input type="checkbox" v-model="setupinfo.exdemo">Ex-Demo</label>
      <label v-if="!setupinfo.onorder && !setupinfo.exdemo"><input type="checkbox" v-model="setupinfo.presetup">Pre-Setup</label>

      <form-section name="platform" title="Platform">
        <label><input type="radio" name="platform" value="Windows" v-model="basicinfo.platform">Windows</label>
        <label v-if="!setupinfo.presetup"><input type="radio" name="platform" value="Mac" v-model="basicinfo.platform">Mac</label>
        <label v-if="!setupinfo.presetup"><input type="radio" name="platform" value="iOS" v-model="basicinfo.platform">iOS</label>
        <label v-if="!setupinfo.presetup"><input type="radio" name="platform" value="Android" v-model="basicinfo.platform">Android</label>
      </form-section>

      <form-section v-if="basicinfo.platform" name="service" title="Service">
        <label v-if="basicinfo.platform == 'Windows' && setupinfo.presetup == false"><input type="radio" name="service" value="Set-Up" v-model="setupinfo.service">Set-Up</label>
        <label><input type="radio" name="service" value="Set-up and Personalise" v-model="setupinfo.service">Set-up and Personalise</label>
        <label><input type="radio" name="service" value="Set-up, Personalise and Tutorial" v-model="setupinfo.service">Set-up, Personalise and Tutorial</label>
        <label v-if="setupinfo.exdemo"><input type="radio" name="service" value="Factory Reset" v-model="setupinfo.service">Factory Reset Only</label>
      </form-section>

    </form-section>


    <!-- Setup Options -->
    <form-section name="setupoptions" title="Options" v-if="basicinfo.platform && setupinfo.service && setupinfo.service != 'Set-Up' && setupinfo.service != 'Factory Reset'">

      <ul>
        <li v-if="basicinfo.platform == 'Windows' && setupinfo.presetup == false"><label><input type="checkbox" v-model="setupoptions.recoverymedia">Create Recovery Media</label></li>
        <li v-if="basicinfo.platform == 'Windows' || basicinfo.platform == 'Mac'"><label><input type="checkbox" v-model="setupoptions.customusers">Customise User Accounts</label></li>
        <li><label><input type="checkbox" v-model="setupoptions.email">Set Up Email Accounts</label></li>
        <li v-if="basicinfo.platform == 'Windows' || basicinfo.platform == 'Mac' || basicinfo.platform == 'iOS'"><label><input type="checkbox" v-model="setupoptions.datatransfer">Data Transfer</label></li>
        <li><label><input type="checkbox" v-model="setupoptions.installsoftware">Install software</label></li>
        <li><label><input type="checkbox" v-model="setupoptions.runupdates">Run updates</label></li>
      </ul>

    </form-section>



    <!-- User Accounts -->
    <form-section v-if="setupoptions.customusers" name="useraccounts" title="User Accounts">

      <div>
        <p>Number of accounts:</p>
        <label><input type="radio" name="accountcount" v-model="useraccounts.count" value="1">1</label>
        <label><input type="radio" name="accountcount" v-model="useraccounts.count" value="2">2</label>
        <label><input type="radio" name="accountcount" v-model="useraccounts.count" value="3">3</label>
        <label><input type="radio" name="accountcount" v-model="useraccounts.count" value="4">4</label>
      </div>

      <form-section name="account1" title="User Account 1">
        <input type="text" v-model="useraccounts.account1.username" placeholder="Account Name" class="accountname">
        <input type="text" v-model="useraccounts.account1.password" placeholder="Password (optional)" class="accountpassword">
        <input type="text" v-if="useraccounts.account1.password" v-model="useraccounts.account1.hint" placeholder="Password Hint" class="accounthint">
        <label class="accountadmin"><input type="checkbox" v-model="useraccounts.account1.admin" disabled>Administrator</label>
      </form-section>

      <form-section v-if="useraccounts.count >= 2" name="account2" title="User Account 2">
        <input type="text" v-model="useraccounts.account2.username" placeholder="Account Name" class="accountname">
        <input type="text" v-model="useraccounts.account2.password" placeholder="Password (optional)" class="accountpassword">
        <input type="text" v-if="useraccounts.account2.password" v-model="useraccounts.account2.hint" placeholder="Password Hint" class="accounthint">
        <label class="accountadmin"><input type="checkbox" v-model="useraccounts.account2.admin">Administrator</label>
      </form-section>

      <form-section v-if="useraccounts.count >= 3" name="account3" title="User Account 3">
        <input type="text" v-model="useraccounts.account3.username" placeholder="Account Name" class="accountname">
        <input type="text" v-model="useraccounts.account3.password" placeholder="Password (optional)" class="accountpassword">
        <input type="text" v-if="useraccounts.account3.password" v-model="useraccounts.account3.hint" placeholder="Password Hint" class="accounthint">
        <label class="accountadmin"><input type="checkbox" v-model="useraccounts.account3.admin">Administrator</label>
      </form-section>

      <form-section v-if="useraccounts.count >= 4" name="account4" title="User Account 4">
        <input type="text" v-model="useraccounts.account4.username" placeholder="Account Name" class="accountname">
        <input type="text" v-model="useraccounts.account4.password" placeholder="Password (optional)" class="accountpassword">
        <input type="text" v-if="useraccounts.account4.password" v-model="useraccounts.account4.hint" placeholder="Password Hint" class="accounthint">
        <label class="accountadmin"><input type="checkbox" v-model="useraccounts.account4.admin">Administrator</label>
      </form-section>

    </form-section>



    <!-- Software -->
    <form-section v-if="setupoptions.installsoftware" name="software" title="Software">

      <ul>
        <li><label><input type="checkbox" v-model="software" value="Knowhow Cloud">Knowhow Cloud</label></li>
        <li><label><input type="checkbox" v-model="software" value="Office">Office</label></li>
        <li><label><input type="checkbox" v-model="software" value="McAfee">McAfee</label></li>
        <li><label><input type="checkbox" v-model="software" value="Norton">Norton</label></li>
        <li v-if="basicinfo.platform == 'Windows'"><label><input type="checkbox" v-model="software" value="iTunes">iTunes</label></li>
        <li v-if="basicinfo.platform == 'Windows'"><label><input type="checkbox" v-model="software" value="Adobe Reader">Adobe Reader</label></li>
        <li v-if="basicinfo.platform == 'Windows'"><label><input type="checkbox" v-model="software" value="CinemaNow">CinemaNow</label></li>
        <li v-if="basicinfo.platform == 'Windows'"><label><input type="checkbox" v-model="software" value="World of Warcraft">World of Warcraft</label></li>
        <li v-if="basicinfo.platform == 'Windows'"><label><input type="checkbox" v-model="software" value="Links Bundle">Links Bundle</label></li>
      </ul>

      <form-section name="customsoftware" title="Custom Software">
        <ul v-if="customsoftware[0]">
          <li v-for="software in customsoftware"><label><input type="checkbox" checked disabled>{{ software }}</label></li>
        </ul>
        <input type="text" v-model="temp.customsoftware" placeholder="Custom Software">
        <button type="button" v-on:click="addCustomSoftware">Add to list</button>
        <button type="button" v-on:click="resetCustomSoftware">Reset</button>
      </form-section>

    </form-section>



    <!-- Data Transfer -->
    <form-section v-if="setupoptions.datatransfer" name="notes" title="Data Transfer">
      <div v-if="basicinfo.platform == 'Windows' || basicinfo.platform == 'Mac'" class="infoblock">
        <p>We will attempt to transfer all files from each user's account folder. This includes your documents, photos, and desktop folders. If you have any files stored elsewhere on the machine please describe them in the notes section below.</p>
        <p>Note that we are unable to transfer applications.</p>
      </div>
      <input type="text" v-model="datatransfer.account1.username" placeholder="Admin Username" class="transferuser">
      <input type="text" v-model="datatransfer.account1.password" placeholder="Admin Password" class="transferpassword">
      <input type="text" v-model="datatransfer.source" placeholder="Describe transfer source (e.g. 'Dell Tower', 'HP Laptop')" class="transfersource">
      <input type="text" v-model="datatransfer.media" placeholder="Describe transfer media (e.g. '1TB Seagate harddrive')" class="transfermedia">
      <textarea placeholder="Notes" v-model="datatransfer.notes" class="transfernotes"></textarea>
    </form-section>



    <!-- Email -->
    <form-section v-if="setupoptions.email" name="email" title="Existing Email Account">
      <input type="text" v-model="email.account1.address" placeholder="Email Address" class="email-existing-address">
      <input type="text" v-model="email.account1.password" placeholder="password" class="email-existing-password">
    </form-section>



    <!-- Apple ID -->
    <form-section v-if="basicinfo.platform=='Mac' || basicinfo.platform=='iOS'" name="appleid" title="Apple ID">

      <div>
        <label><input type="radio" name="appleid-type" v-model="appleid.type" value="existing">Use existing Apple ID</label>
        <label><input type="radio" name="appleid-type" v-model="appleid.type" value="new">Create a new Apple ID</label>
      </div>

      <form-section v-if="appleid.type=='existing'" name="appleid-existing" title="Existing Apple ID">
        <div>
          <input type="text" v-model="appleid.existing.email" placeholder="Email Address" class="appleid-existingemail">
          <input type="text" v-model="appleid.existing.password" placeholder="Password" class="appleid-existingpassword">
          <div class="infoblock">
            <p>We will attempt to log in to your existing Apple ID.</p>
            <p>If your account has two-factor authentication enabled, we may need to contact you for additional information, such as a code we send to your mobile phone and/or the unlock passcode for your iPhone or iPad.</p>
          </div>
        </div>

      </form-section>

      <form-section v-if="appleid.type=='new'" name="appleid-new" title="New Apple ID">
        <div>
          <label class="appleid-newemail"><input type="text" v-model="appleid.new.email" placeholder="new username">@icloud.com</label>
          <input class="appleid-newpassword" type="text" v-model="appleid.new.password" placeholder="Password">
          <input class="appleid-dob" type="text" v-model="appleid.new.dob" placeholder="Date of Birth" class="dob">
        </div>
        <textarea placeholder="Address and Postcode" v-model="customerinfo.address" class="customerinfo-address"></textarea>


        <div class="recoveryquestion">
          <select v-model="appleid.new.recoveryquestion1.question" class="recoveryquestion-question">
          <option value="" disabled>Select Recovery Question 1</option>
          <option>What is your favourite children's book?</option>
          <option>What is your dream job?</option>
          <option>What was your childhood nickname?</option>
          <option>What was the model of your first motorised vehicle?</option>
          <option>Who was your favourite band or singer as a child?</option>
          <option>Who was your favourite childhood actor or character?</option>
        </select>
          <input type="text" v-model="appleid.new.recoveryquestion1.answer" class="recoveryquestion-answer" placeholder="Answer">
        </div>
        <div class="recoveryquestion">
          <select v-model="appleid.new.recoveryquestion2.question" class="recoveryquestion-question">
          <option value="" disabled>Select Recovery Question 2</option>
          <option>What was the name of your first manager?</option>
          <option>In which city did your parents meet?</option>
          <option>What was your first pet's name?</option>
          <option>Who was your best friend as a teenager?</option>
          <option>What was the first film you saw at the cinema?</option>
          <option>What was the first dish you learned to cook?</option>
        </select>
          <input type="text" v-model="appleid.new.recoveryquestion2.answer" class="recoveryquestion-answer" placeholder="Answer">
        </div>
        <div class="recoveryquestion">
          <select v-model="appleid.new.recoveryquestion3.question" class="recoveryquestion-question">
          <option value="" disabled>Select Recovery Question 3</option>
          <option>What was the name of your favourite school teacher?</option>
          <option>Where did you first fly in an aeroplane?</option>
          <option>What was the name of the street you grew up on?</option>
          <option>Where was the first beach you visited?</option>
          <option>What was the first album you purchased?</option>
          <option>What is your favourite sports team?</option>
        </select>
          <input type="text" v-model="appleid.new.recoveryquestion3.answer" class="recoveryquestion-answer" placeholder="Answer">
        </div>
      </form-section>
    </form-section>



    <!-- Google Account -->
    <form-section v-if="basicinfo.platform == 'Android'" name="googleaccount" title="Google Account">

      <div>
        <label><input type="radio" name="googleaccounttype" v-model="googleaccount.type" value="new">Create a new Google Account</label>
        <label><input type="radio" name="googleaccounttype" v-model="googleaccount.type" value="existing">Use an existing Google Account</label>
      </div>

      <form-section v-if="googleaccount.type == 'new'" name="googleaccount-new" title="New Google Account">
        <input type="text" v-model="googleaccount.new.address" placeholder="youraccount@gmail.com" class="googleaccount-address">
        <input type="text" v-model="googleaccount.new.password" placeholder="Password" class="googleaccount-password">
        <input type="text" v-model="googleaccount.new.dob" placeholder="Date of Birth" class="googleaccount-dob">
      </form-section>

      <form-section v-if="googleaccount.type == 'existing'" name="googleaccount-new" title="Existing Google Account">
        <input type="text" v-model="googleaccount.existing.address" placeholder="youraccount@gmail.com" class="googleaccount-address">
        <input type="text" v-model="googleaccount.existing.password" placeholder="Password" class="googleaccount-password">
      </form-section>

    </form-section>



    <!-- Microsoft Account -->
    <form-section v-if="software.includes('Office') || software.includes('McAfee') || software.includes('Norton')" name="microsoftaccount" title="Microsoft Accounts">

      <label><input type="radio" name="microsoftaccounttype" v-model="microsoftaccount.type" value="new">Create a new Microsoft Account</label>
      <label><input type="radio" name="microsoftaccounttype" v-model="microsoftaccount.type" value="existing">Sign in to an existing Microsoft Account</label>

      <form-section v-if="microsoftaccount.type == 'new'" name="newmicrosoftaccount" title="New Microsoft Account">
        <label class="microsoftaccount-new-address"><input type="text" v-model="microsoftaccount.new.address" v-bind:placeholder="customerinfo.firstname.toLowerCase() + '.' + customerinfo.surname.toLowerCase() + customerinfo.telephone.toString().split('').reverse().join('').slice(0,2).split('').reverse().join('')" class="microsoftaccount-new-address-input"><span class="emaildomain outlook">@outlook.com</span></label>
        <input type="text" v-model="microsoftaccount.new.password" placeholder="Password" class="microsoftaccount-new-password">
        <input type="text" v-model="microsoftaccount.new.dob" placeholder="Date of Birth" class="microsoftaccount-new-dob">
      </form-section>

      <form-section v-if="microsoftaccount.type == 'existing'" name="existingmicrosoftaccount" title="Existing Email Account">
        <input type="text" v-model="microsoftaccount.existing.address" placeholder="Email Address" class="microsoftaccount-existing-address">
        <input type="text" v-model="microsoftaccount.existing.password" placeholder="password" class="microsoftaccount-existing-password">
      </form-section>

    </form-section>



    <!-- Tutorial -->
    <form-section v-if="setupinfo.service=='Set-up, Personalise and Tutorial'" name="tutorial" title="Tutorial">

      <label><input type="radio" name="booked" value="now" v-model="tutorial.booked">Book tutorial date now</label>
      <label><input type="radio" name="booked" value="later" v-model="tutorial.booked">Book tutorial date later</label>

      <form-section v-if="tutorial.booked == 'now'" name="tutorial-slot" title="Tutorial Slot">
        <input type="text" placeholder="Tutorial date" class="tutorial-date" v-model="tutorial.date">
        <input type="text" placeholder="Tutorial time" class="tutorial-time" v-model="tutorial.time">

        <p class="note">Please refer to the Tutorial Diary before booking tutorial dates.<span v-if="setupoptions.datatransfer == false"><br>Generally speaking, tutorials should not be booked less than <span v-if="setupoptions.runupdates">72</span><span v-if="setupoptions.runupdates == false">48</span> hours <span v-if="setupinfo.onorder">after the item is due to arrive in store</span><span v-if="setupinfo.onorder == false">in advance</span><span v-if="setupoptions.runupdates"> to allow time for system updates to complete</span>.</span>
          <span v-if="setupoptions.datatransfer"><br>As your set-up includes a data transfer, consult with Team Knowhow for a completion estimate.</span></p>
      </form-section>

    </form-section>



    <!-- Notes -->
    <form-section v-if="basicinfo.colleague && basicinfo.sku" name="notes" title="Notes">
      <textarea placeholder="Notes" v-model="notes"></textarea>
    </form-section>



    <div v-if="setupinfo.service" class="printcontrols">
      <a class="resetbutton" href="#input" @click="resetAll()">Reset</a>
      <button type="button" class="printbutton" @click="printSheet">Print</button>
      <label class="previewbutton"><input type="checkbox" v-model="meta.printpreview"> Worksheet Preview</label>
    </div>


    <!-- SECTION TEMPLATE

    <fieldset name="SECTIONNAME" class="input-section SECTIONNAME">
      <legend for="SECTIONNAME" class="section-label">SECTION TITLE</legend>
      SECTION CONTENT HERE
    </fieldset>
    -->


  </form>
</div>
