<div class="input">
  <form id="inputform">

    <fieldset name="personalinfo">
      <legend class="section-label" for="personalinfo">Customer Information</legend>
      <select v-model="title">
            <option disabled value="">Title</option>
            <option value="Mr">Mr</option>
            <option value="Miss">Miss</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Dr">Dr</option>
          </select>
      <input type="text" placeholder="First Name" v-model="firstname">
      <input type="text" placeholder="Surname" v-model="surname">
      <textarea placeholder="Address and Postcode" v-model="address"></textarea>
      <input type="tel" placeholder="Telephone Number" v-model="telephone">
    </fieldset>


    <fieldset name="software" class="software">
      <legend class="section-label" for="software">Software</legend>
      <!--
          <checkbox-item line="foo" v-model="software">foo</checkbox-item>
          <checkbox-item line="bar" v-model="software">bar</checkbox-item>
          -->
      <ul>
        <li><label><input type="checkbox" v-model="software" value="Knowhow Cloud">Knowhow Cloud</label></li>
        <li><label><input type="checkbox" v-model="software" value="Office">Office</label></li>
        <li><label><input type="checkbox" v-model="software" value="McAfee">McAfee</label></li>
        <li><label><input type="checkbox" v-model="software" value="Norton">Norton</label></li>
        <li><label><input type="checkbox" v-model="software" value="iTunes">iTunes</label></li>
        <li><label><input type="checkbox" v-model="software" value="Adobe Reader">Adobe Reader</label></li>
        <li><label><input type="checkbox" v-model="software" value="CinemaNow">CinemaNow</label></li>
        <li><label><input type="checkbox" v-model="software" value="World of Warcraft">World of Warcraft</label></li>
        <li><label><input type="checkbox" v-model="software" value="Links Bundle">Links Bundle</label></li>
      </ul>
    </fieldset>
    
    <fieldset name="notes" class="notes">
      <legend class="section-label" for="notes">Notes</legend>
      <textarea placeholder="Notes" v-model="notes"></textarea>
    </fieldset>


    <!-- 
        <fieldset name="software" class="software">
          <label for="software">Software</label>
          <new-checkbox v-for="line in software" :line="line" key="name"></new-checkbox>
        </fieldset>
        -->



  </form>
</div>
