<section class="output">
  <h1></h1>
  <table class="output-scaffold">


    <!-- Header and Basic Info -->
    <tr>
      <td>

        <h1 v-if="basicinfo.platform && setupinfo.service" class="header-title">{{ basicinfo.platform }} <span v-if="setupinfo.exdemo">Ex-Demo </span>{{ setupinfo.service }}<span class="header-sku">{{  basicinfo.sku }}</span></h1>
        <div v-if="basicinfo.colleague && basicinfo.date" class="header-byline">Submitted by {{ basicinfo.colleague }} on {{ basicinfo.date }} at {{ basicinfo.time }} using v{{ version }}</div>



        <table class="output-section">
          <tr class="output-section-header-row">
            <td colspan="2">
              <h2 class="output-section-header">Customer Information</h2>
            </td>
          </tr>

          <tr>
            <td class="title-column">Name</td>
            <td class="data-column">{{ customerinfo.title }} {{ customerinfo.firstname }} {{ customerinfo.surname }}</td>
          </tr>
          <tr v-if="customerinfo.address">
            <td class="title-column">Address</td>
            <td class="data-column output-address">
              <span>{{ customerinfo.address }}</span>
            </td>
          </tr>
          <tr>
            <td class="title-column">Tel</td>
            <td class="data-column">{{ customerinfo.telephone }}</td>
          </tr>
          <tr v-if="customerinfo.alttelephone">
            <td class="title-column">Alt. Tel</td>
            <td class="data-column">{{ customerinfo.alttelephone }}</td>
          </tr>

        </table>

      </td>
    </tr>


    <!-- Setup Options -->
    <tr v-if="setupinfo.exdemo || setupinfo.presetup || setupinfo.service == 'Walk Out Working' || (basicinfo.platform==='Windows' && setupoptions.recoverymedia)|| setupoptions.datatransfer || setupoptions.existingemail || setupoptions.installsoftware || setupoptions.runupdates || microsoftaccount.type==='new' || appleid.type==='new' || googleaccount.type==='new'">
      <td>
        <table class="output-section setupoptions">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Procedures</h2>
            </td>
          </tr>

          <tr v-if="setupinfo.exdemo" line="Reset to factory defaults" is="lineitem"></tr>
          <tr v-if="basicinfo.platform==='Windows' && setupoptions.recoverymedia" line="Create recovery media" v-bind:class="{'prechecked': setupinfo.presetup}" is="lineitem"></tr>
          <tr v-if="setupoptions.runupdates" line="Run updates" is="lineitem"></tr>
          <tr v-if="setupinfo.exdemo" line="Clean ex-display item" is="lineitem"></tr>
          <tr v-if="microsoftaccount.type==='new' || appleid.type==='new' || googleaccount.type==='new'" line="Printed new account info letter" is="lineitem"></tr>
        </table>
      </td>
    </tr>


    <!-- Apple ID -->
    <tr v-if="basicinfo.platform=='Mac' || basicinfo.platform=='iOS'">
      <td>
        <table v-if="appleid.type=='existing'" class="output-section appleid-existing">

          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Existing Apple ID</h2>
            </td>
          </tr>
          <tr>
            <td class="appleid-email">
              <strong>Apple ID:</strong> {{ appleid.existing.email }}
            </td>
            <td class="appleid-password">
              <strong>Password:</strong> {{ appleid.existing.password }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Corrections:</strong>
              <div class="tickbox"></div>
            </td>
          </tr>
        </table>

        <table v-if="appleid.type=='new'" class="output-section appleid-new">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">New Apple ID</h2>
            </td>
          </tr>

          <tr>
            <td class="appleid-email"><strong>ID:</strong> {{ appleid.new.email }}@icloud.com</td>
            <td class="appleid-password"><span class="inline-title">Password:</span> {{ appleid.new.password }}</td>
            <td class="appleid-dob"><span class="inline-title">DOB:</span> {{ appleid.new.dob }}</td>
          </tr>

          <tr v-if="appleid.new.recoveryquestion1.question && appleid.new.recoveryquestion1.answer" class="recoveryquestionpair">
            <td class="recoveryquestion-question" colspan="2">{{ appleid.new.recoveryquestion1.question }}</td>
            <td class="recoveryquestion-answer">{{ appleid.new.recoveryquestion1.answer }}</td>
          </tr>
          <tr v-if="appleid.new.recoveryquestion2.question && appleid.new.recoveryquestion2.answer" class="recoveryquestionpair">
            <td class="recoveryquestion-question" colspan="2">{{ appleid.new.recoveryquestion2.question }}</td>
            <td class="recoveryquestion-answer">{{ appleid.new.recoveryquestion2.answer }}</td>
          </tr>
          <tr v-if="appleid.new.recoveryquestion3.question && appleid.new.recoveryquestion3.answer" class="recoveryquestionpair">
            <td class="recoveryquestion-question" colspan="2">{{ appleid.new.recoveryquestion3.question }}</td>
            <td class="recoveryquestion-answer">{{ appleid.new.recoveryquestion3.answer }}</td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>Corrections:</strong>
              <div class="tickbox"></div>
            </td>
          </tr>
        </table>

      </td>
    </tr>



    <!-- Google Account -->
    <tr v-if="basicinfo.platform == 'Android'">
      <td>

        <table v-if="googleaccount.type == 'existing'" class="output-section googleaccount googleaccount-existing">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Existing Google Account</h2>
            </td>
          </tr>
          <tr>
            <td class="googleaccount-address">
              <strong>Account:</strong> {{ googleaccount.existing.address }}
            </td>
            <td class="googleaccount-password">
              <strong>Password:</strong> {{ googleaccount.existing.password }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Corrections:</strong>
              <div class="tickbox"></div>
            </td>
          </tr>
        </table>

        <table v-if="googleaccount.type == 'new'" class="output-section googleaccount-new">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">New Google Account</h2>
            </td>
          </tr>
          <tr>
            <td class="googleaccount-address">
              <strong>Account:</strong> {{ googleaccount.new.address }}
            </td>
            <td class="googleaccount-password">
              <strong>Password:</strong> {{ googleaccount.new.password }}
            </td>
            <td class="googleaccount-dob">
              <strong>DOB:</strong> {{ googleaccount.new.dob }}
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>Corrections:</strong>
              <div class="tickbox"></div>
            </td>
          </tr>
        </table>

      </td>
    </tr>



    <!-- User Accounts -->
    <tr v-if="setupoptions.customusers && useraccounts.account1.username">
      <td>
        <table class="output-section useraccounts">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Create User Accounts</h2>
            </td>
          </tr>
          <tr v-if="useraccounts.account1.username">
            <td>
              <strong>Username:</strong> {{ useraccounts.account1.username }}<span v-if="useraccounts.account1.password"><strong> Password:</strong> {{ useraccounts.account1.password }}<span v-if="useraccounts.account1.hint"><strong> Hint:</strong> {{ useraccounts.account1.hint }}</span></span><span v-if="useraccounts.account1.admin"><strong> (Admin)</strong></span>
              <div class="tickbox"></div>
            </td>
          </tr>
          <tr v-if="useraccounts.account2.username">
            <td>
              <strong>Username:</strong> {{ useraccounts.account2.username }}<span v-if="useraccounts.account2.password"><strong> Password:</strong> {{ useraccounts.account2.password }}<span v-if="useraccounts.account2.hint"><strong> Hint:</strong> {{ useraccounts.account2.hint }}</span></span><span v-if="useraccounts.account2.admin"><strong> (Admin)</strong></span>
              <div class="tickbox"></div>
            </td>
          </tr>
          <tr v-if="useraccounts.account3.username">
            <td>
              <strong>Username:</strong> {{ useraccounts.account3.username }}<span v-if="useraccounts.account3.password"><strong> Password:</strong> {{ useraccounts.account3.password }}<span v-if="useraccounts.account3.hint"><strong> Hint:</strong> {{ useraccounts.account3.hint }}</span></span><span v-if="useraccounts.account3.admin"><strong> (Admin)</strong></span>
              <div class="tickbox"></div>
            </td>
          </tr>
          <tr v-if="useraccounts.account4.username">
            <td>
              <strong>Username:</strong> {{ useraccounts.account1.username }}<span v-if="useraccounts.account4.password"><strong> Password:</strong> {{ useraccounts.account4.password }}<span v-if="useraccounts.account4.hint"><strong> Hint:</strong> {{ useraccounts.account4.hint }}</span></span><span v-if="useraccounts.account4.admin"><strong> (Admin)</strong></span>
              <div class="tickbox"></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>



    <!-- Email Accounts -->
    <tr v-if="email.account1.address">
      <td>
        <table class="output-section email">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Add Existing Email Account</h2>
            </td>
          </tr>
          <tr>
            <td class="email-address">
              <strong>Email:</strong> {{ email.account1.address }}
            </td>
            <td class="email-password">
              <strong>Password:</strong> {{ email.account1.password }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Corrections:</strong>
              <div class="tickbox"></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>



    <!-- Microsoft Account -->
    <tr v-if="microsoftaccount.type">
      <td>
        <table class="output-section microsoftaccount">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Add <span v-if="microsoftaccount.type == 'existing'">Existing</span><span v-if="microsoftaccount.type == 'new'">New</span> Microsoft Account</h2>
            </td>
          </tr>
          <tr v-if="microsoftaccount.type == 'existing'">
            <td class="email-address">
              <strong>Email:</strong> {{ microsoftaccount.existing.address }}
            </td>
            <td class="email-password">
              <strong>Password:</strong> {{ microsoftaccount.existing.password }}
            </td>
          </tr>
          <tr v-if="microsoftaccount.type == 'new'">
            <td class="email-address">
              <strong>Email:</strong> {{ microsoftaccount.new.address }}@outlook.com
            </td>
            <td class="email-password">
              <strong>Password:</strong> {{ microsoftaccount.new.password }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <strong>Corrections:</strong>
              <div class="tickbox"></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>



    <!-- Data Transfer -->
    <tr v-if="setupoptions.datatransfer">
      <td>
        <table class="output-section datatransfer">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Data Transfer<span v-if="datatransfer.source"> from {{ datatransfer.source }}<span v-if="datatransfer.media"> via {{ datatransfer.media }}</span></span>
              </h2>
            </td>
          </tr>
          <tr v-if="datatransfer.account1.username">
            <td>Username: {{ datatransfer.account1.username }}<span v-if="datatransfer.account1.password">, password: {{ datatransfer.account1.password }}</span></td>
          </tr>
          <td v-if="datatransfer.notes" class="output-notes">
            <span class="output-notes-data">{{ datatransfer.notes }}</span>
          </td>
          <tr line="Transfer successful" is="lineitem"></tr>
        </table>
      </td>
    </tr>



    <!-- Software -->
    <tr v-if="software[0] || customsoftware[0]">
      <td>
        <table class="output-section">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Software</h2>
            </td>
          </tr>
          <tr v-if="software[0]" v-for="line in software" :line="line" key="name" is="lineitem"></tr>
          <tr v-if="customsoftware[0]" v-for="line in customsoftware" :line="line" key="name" is="lineitem" class="customline"></tr>
        </table>
      </td>
    </tr>



    <!-- Notes -->
    <tr v-if="notes">
      <td>

        <table class="output-section">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">Notes</h2>
            </td>
          </tr>

          <tr>
            <td class="output-notes">
              <span class="output-notes-data">{{ notes }}</span>
            </td>
          </tr>
        </table>

      </td>
    </tr>



    <!-- Contact -->
    <tr>
      <td>
        <table class="output-section output-section-contact">
          <tr class="output-section-header-row">
            <td colspan="3">
              <h2 class="output-section-header">Contact Log</h2>
            </td>
          </tr>

          <tr class="output-section-subheader-row">
            <td class="date-column">Date</td>
            <td class="time-column">Time</td>
            <td class="notes-column">Notes</td>
          </tr>
          <tr>
            <td class="date-column"></td>
            <td class="time-column"></td>
            <td class="notes-column"></td>
          </tr>
          <tr>
            <td class="date-column"></td>
            <td class="time-column"></td>
            <td class="notes-column"></td>
          </tr>
          <tr>
            <td class="date-column"></td>
            <td class="time-column"></td>
            <td class="notes-column"></td>
          </tr>

        </table>
      </td>
    </tr>



    <!-- Signature -->
    <tr>
      <td>
        <table class="output-section output-section-signature">
          <tr>
            <td class="signature-section-title">Collection Date:</td>
            <td></td>
            <td class="signature-section-title">Signature:</td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>



    <!-- SECTION TEMPLATE
    <tr>
      <td>
        <table class="output-section THIS SECTION CLASS">
          <tr class="output-section-header-row">
            <td>
              <h2 class="output-section-header">SECTION TITLE HERE</h2>
            </td>
          </tr>
          <tr>
            <td>
              THIS SECTION CONTENT HERE
            </td>
          </tr>
        </table>
      </td>
    </tr>
-->



  </table>

</section>
