.input {
  box-sizing: border-box;
  text-align: left;
  .input-section {
    position: relative;
    padding: 2em;
    margin: 8em 4em;
    box-sizing: border-box;
  }
  .section-label {
    position: absolute;
    display: inline-block;
    height: 3.81em;
    left: 2em;
    top: -3.825em;
    background: #fff;
    width: auto;
    padding: 1.1em 1.5em 0.2em 1.5em;
  }
  .input-section fieldset {
    margin: 2em;
    padding: 2em;
    border-color: #999;
    position: relative;
  }
  .input-section fieldset legend {
    padding: 0.5em 1em;
    background: #fff;
    border: 0.15em solid #999;
    border-top-color: deeppink;
    border-radius: 0.25em;
    font-size: 0.8em;
    font-weight: 700;
  }
  label {
    padding: 0 1em;
  }
  input,
  select {
    margin-right: 0.5em;
    display: inline-block;
  }
  input,
  select,
  textarea {
    padding: 0.5em;
  }
  textarea {
    width: 100%;
    margin: 1em 0;
    height: 6em;
    box-sizing: border-box;
  }
  textarea::placeholder {
    line-height: 6em;
    vertical-align: middle;
  }
  select {
    height: 2.3em;
  }
}
