  $fieldset-border: 0.2em solid #000;
  .input {
    fieldset {
      border: $fieldset-border;
      border-radius: 0.25em;
      background: #fff;
      box-shadow: 0 0 1em 0.2em #ccc;
    }
    label {
      padding: 0 2.5%;
      margin-bottom: 2.5%;
    }
    input,
    select,
    textarea,
    checkbox {
      border: 1px solid black;
      border-bottom-width: 2px;
      border-radius: 0.25em;
      box-sizing: border-box;
      margin-bottom: 1%;
    }
    input,
    select,
    textarea {
      padding: 0.5em;
    }
    input[type='checkbox'],
    input[type='radio'] {
      margin-right: 0.5em;
      display: inline-block;
    }
    textarea {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      height: 6em;
      box-sizing: border-box;
    }
     ::placeholder {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 700;
      letter-spacing: 0.1em;
      vertical-align: middle;
      color: #aaa;
    }
    textarea::placeholder {
      line-height: 6em;
      vertical-align: middle;
      text-align: center;
    }
    select {
      height: 2.3em;
    }
    box-sizing: border-box;
    text-align: left;
    .input-section {
      text-align: center;
      position: relative;
      padding: 3%;
      margin: 8em 5%;
      box-sizing: border-box;
    }
    .section-label {
      position: absolute;
      display: inline-block;
      left: 2em;
      top: -3.825em;
      height: 3.81em;
      width: auto;
      border-top: $fieldset-border;
      border-top-color: deeppink;
      border-left: $fieldset-border;
      border-right: $fieldset-border;
      border-radius: 0.25em;
      padding: 1.1em 1.5em 0.2em 1.5em;
      background: #fff;
      font-size: 0.8em;
      font-weight: 700;
    }
    .section-label.complete {
      border-top-color: lightgreen;
      border-top-width: 0.4em;
      padding: 0.9em 1.5em 0.2em 1.5em;
    }
    .input-section fieldset {
      margin: 3%;
      padding: 2.5% 2.5% 1.5% 2.5%;
      border-color: #999;
      position: relative;
      box-sizing: border-box;
    }
    .input-section fieldset legend {
      padding: 0.5em 1em;
      background: #fff;
      border: 0.15em solid #999;
      border-top-color: deeppink;
      border-radius: 0.25em;
      font-size: 0.8em;
      font-weight: 700;
    }
    .infoblock {
      padding: 2.5% 15% 5% 15%;
      text-align: left;
      color: #555;
      font-size: 0.9em;
      font-style: italic;
    }
    .basicinfo {
      text-align: center;
      .colleague,
      .productsku {
        text-align: center;
        width: 40%;
      }
      .platform {
        text-align: center;
      }
    }
    .customerinfo {
      input,
      textarea {
        margin: inherit 2.5%;
      }
      .customerinfo-title {
        width: 15%;
      }
      .customerinfo-firstname,
      .customerinfo-surname {
        width: 41.5%
      }
      .customerinfo-telephone,
      .customerinfo-alttelephone {
        width: 49%;
      }
    }
    .setupinfo {
      label {
        display: inline-block;
      }
    }
    .setupoptions,
    .software {
      ul {
        position: relative;
        list-style-type: none;
        padding: 0;
      }
      li {
        display: inline-block;
        width: 30%;
        text-align: left;
      }
      label {
        display: inline-block;
        padding: 0.5em;
      }
    }
    .appleid {
      .appleid-existingemail,
      .appleid-existingpassword {
        width: 45%;
      }
      .appleid-newemail,
      .appleid-newpassword,
      .appleid-dob {
        width: 28%;
      }
      .recoveryquestion-question {
        width: 65%;
      }
      .recoveryquestion-answer {
        width: 30%;
      }
    }
    .useraccounts {
      .accountname,
      .accountpassword {
        width: 40%;
      }
      .accounthint{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      .accountadmin {
        display: block;
        margin-top: 2.5%;
      } 
    }
    .email {
      .email-new-address,
      .email-new-password,
      .email-existing-address,
      .email-existing-password {
        display: inline-block;
        width: 40%;
      }
      .email-new-address {
        position: relative;
        padding: 0;
      }
      .email-new-address-input {
        width: 100%;
        padding-right: 6.9em;
        text-align: right;
      }
      .email-new-address-input::placeholder {
        text-align: left;
      }
      .emaildomain.outlook {
        position: absolute;
        right: 0.5em;
        top: 0.55em;
      }
    }
    .datatransfer {
      
      .transferuser,
      .transferpassword {
        width: 46.7%;
      }
      .transferuser {
        margin-left: 2.5%;
      }
      .transferpassword {
        margin-left: 1%
      }
      .transfermedia,
      .transfersource {
        width: 95%;
        margin-left: 2.5%;
      }
    }
  }
