.output {
}

.output {
  .output-scaffold {
    background: #fff;
    box-shadow: 0.25em 0.25em 0 #999;
    border:0.05em solid #555
  }
  .output-section {
  }
  .output-section-header {
    font-size: 1.25em;
  }
  .output-address {
    white-space: pre-line;
  }
}
