$output-border: 0.05em solid black;
.output {
  text-align: left;
  display: none;
}

.output {
  .output-scaffold {
    background: #fff;
    width: 100%;
  }
  .output-section {
    width: 100%;
    margin-top: 1em;
    position: relative;
    td {
      padding: 0.5em 2.5em 0.5em 0.5em;
      border: $output-border;
      height: 1em;
      position: relative;
    }
  }
  .output-section-header {
    font-size: 1em;
    font-weight: 700;
    margin: 0.25em 0;
    color: #000;
  }
  .output-section-header-row td {
    border: 0;
    padding-bottom: 0;
    font-weight: bold;
  }
  .output-section-subheader-row td {
    border: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 80%;
  }
  .customline {
    font-style: italic;
  }
  .header-title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .header-sku {
    float: right;
  }
  .header-byline {
    font-style: italic;
    font-size: 0.8em;
    color: #555;
  }
  .inline-title {
    font-weight: bold;
  }
  .output-section-contact {
    .date-column,
    .time-column {
      width: 12.5%;
    }
    .notes-column {
      width: 75%;
    }
  }
  .output-section-signature {
    td {
      width: 25%;
      height: 2em;
    }
    .signature-section-title {
      border: 0;
      text-align: right;
      font-weight: 700;
      vertical-align: middle;
    }
  }
  .output-notes-data {
    display: block;
  }
  .title-column {
    width: 25%;
    vertical-align: top;
  }
  .data-column {
    width: 75%;
  }
  .output-line {
    position: relative;
  }
  .output-address,
  .output-notes-data {
    white-space: pre-line;
  }
  .tickbox {
    border-left: $output-border;
    width: 2.1em;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 2.2em;
    text-align: center;
  }
  .tickbox .tick {
    display: none;
  }
  .prechecked .tickbox .tick {
    display: inline-block;
  }
  .emaildomain {
    float: right;
  }
  .appleid {
    .appleid-id {
      width: 35%;
    }
    .appleid-password {
      width: 35%;
    }
    .appleid-dob {
      width: 30%;
    }
  }
  .googleaccount {
    .googleaccount-address,
    .googleaccount-password {
      width: 50%;
    }
  }
}

.printpreview .output {
  display: block;
}
