$output-border: 0.05em solid black;

.output {
  text-align: left;
  padding: 0 4em;
}

.output {
  .output-scaffold {
    width: 100%;
    padding: 0 4em;
    padding-top: 2em;
    padding-bottom: 4em;
    margin-bottom: 4em;
  }
  .output-section {
    width: 100%;
    margin-top: 2em;
    position: relative;
  }
  .output-section-header-row {}
  .output-section-header {}
  .title-column,
  .data-column,
  .output-line,
  .output-notes {
    padding: 0.5em;
    border: $output-border;
  }
  
  .output-notes-data {
    display: block;
    min-height: 5em;
  }
  .title-column {
    width: 25%;
    vertical-align: top;
  }
  .data-column {
    width: 75%;
  }
  .output-line {
    position: relative;
  }
  .tickbox {
    border: $output-border;
    width: 2.15em;
    height: 2.15em;
    position: absolute;
    top: -0.05em;
    right: -0.05em;
  }
}
