@media screen {
  .output {
    padding: 0 4em;
  }
  .output-scaffold {
    padding: 0 4em;
    padding-top: 2em;
    padding-bottom: 4em;
    margin-bottom: 4em;
    box-shadow: 0.25em 0.25em 0 #999;
    border: 0.05em solid #555;
  }
}

@media print {
  .input,
  .app-title,
  .app-version {
    display: none;
  }
  .output {
    font-size: 10pt;
    display: block;
  }
}
